footer {
  background: #17191D !important;
  color:white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

footer > p > a:hover {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.text-typing {
  padding:20px 30px;
  width:100%;
}



.text-typing h1 {
  margin:0px;
  white-space:nowrap;
  overflow:hidden;
  animation:typing 2.1s steps(22,end) forwards,
            blink 2.1s linear;
}
@keyframes typing {
  0% { width:0% }
  100% { width:100% }
}
@keyframes blink {
  0%,100% {
    border-right:2px solid transparent;
  }
  50% {
    border-right:2px solid #222;
  }
}