name: Docker CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Run docker-compose stack
        uses: actions/checkout@v2
      - run: |
          echo "I am about starting out"
          cd ../..
          echo "Successfully checked out of workflow directory"
          pwd
          docker-compose -f testing.yml up
