name: Docker CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Run docker-compose stack
        uses: actions/checkout@v2
      - run: |
          npm install 
          npm run ci
